/* Mobile Layout: 320px. */
@media only screen and (max-width: 480px) {

#sview{  display: none;}
.btn{  margin: 0;}
.sfooter{  margin-left: 50px;}






}


/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 481px) and (max-width: 767px) {

#sview{  display: none;}
.btn{  margin: 0;}
.sfooter{  margin-left: 50px;}



}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
#sview{  display: block;}


}


